PORT=3000
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

INFINITEPAY_HANDLE_INSA=
INFINITEPAY_HANDLE_MPAC=
INFINITEPAY_HANDLE_KARATE=

WEBHOOK_SECRET=

UAZAPI_URL=
UAZAPI_TOKEN=
UAZAPI_GRUPO_ANIVERSARIO_JID=
